{
  "apps": {
    "http": {
      "servers": {
        "app": {
          "listen": [":80", ":443"],
          "routes": [
            {
              "match": [
                {
                  "host": [
                    "localhost",
                    "127.0.0.1"
                  ]
                }
              ],
              "handle": [
                {
                  "handler": "reverse_proxy",
                  "upstreams": [
                    {
                      "dial": "app:3000"
                    }
                  ]
                }
              ]
            },
            {
              "match": [
                {
                  "host": [
                    "{your-domain.com}"
                  ]
                }
              ],
              "handle": [
                {
                  "handler": "tls"
                },
                {
                  "handler": "reverse_proxy",
                  "upstreams": [
                    {
                      "dial": "app:3000"
                    }
                  ]
                }
              ]
            }
          ]
        }
      }
    }
  }
}